---
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Navbar from "../components/Navbar.astro";
import Profile from "../components/Profile.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">
    <main>
        <Navbar />
        <Profile />
        <About />
        <Experience />
        <Projects />
        <Contact />
        <Footer />
    </main>
</Layout>
