---
import About from "../components/About.astro";
import Navbar from "../components/Navbar.astro";
import Profile from "../components/Profile.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">
    <main>
        <Navbar />
        <Profile />
        <About />
    </main>
</Layout>
