<section id="profile">
    <div class="section__pic-container">
        <img src="/assets/profile-pic.jpg" alt="Reinaldo Stephens Profile Picture" id="profile-image" />
    </div>
    <div class="section__text">
        <p class="section__text__p1">Hello I'm</p>
        <h1 class="title">Reinaldo Stephens</h1>
        <p class="section__text__p2">Frontend Developer</p>
        <div class="btn-container">
            <button class="btn btn-color-2" onclick="
            window.open('/assets/resume-example.pdf')
            "
                >Download CV</button
            >
            <button class="btn btn-color-1" onclick=`location.href = './#contact'`>Contact Info</button>
        </div>
        <div id="socials-container">
            <a href="https://linkedin.com" target="_blank">
                <img src="/assets/linkedin.png" alt="My LinkedIn profile" class="icon" />
            </a>
            <a href="https://github.com" target="_blank">
                <img src="/assets/github.png" alt="My Github profile" class="icon" />
            </a>
        </div>
    </div>
</section>
<style>
    /* profile section */

    #profile {
        display: flex;
        justify-content: center;
        gap: clamp(1px, 1rem, 5rem);
        height: clamp(80vh, 80vh, 84vh);
        flex-wrap: wrap;
    }

    #profile-image {
        border-radius: 50%;
    }

    .section__text {
        align-self: center;
        text-align: center;
    }

    .section__text p {
        font-weight: 600;
    }

    .section__text__p2 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    #socials-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 1rem;
    }

    /* Icons */

    .icon {
        cursor: pointer;
        height: 2rem;
    }
</style>
